<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <div>
    <%= bookmark.movie.title %>
    <%= bookmark.comment %>
  </div>
<% end %>

<%= link_to 'add a bookmark to my list', new_list_bookmark_path(@list) %>
CD 
