// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.custom-container {
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: red;

  h1 {
    text-align: center;
    }
}
